body {
	background-color: #F5F0DC;
	font-family: Helvetica, Arial, sans-serif;
	width: 940px;
	margin: auto;
}

#banner {
	top: 0;
	right: 0;
	position: fixed;
}

h1#titulo {
	text-align: center;
}

h2 {
	background-color: #B3A742;
	background:-moz-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background:-webkit-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background:-o-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background:-ms-linear-gradient(top, #9C8F67, #C7BE9B 30%);

	padding: 5px;
	color: #FFFFFF;

	border: 1px solid black;
	border-radius: 15px;
}

#tb-nutrientes {
	border: 1px solid black;
	width: 40%;
	margin: auto;
}

#tb-nutrientes th {
	background-color: #F8EA6B;
}

#tb-nutrientes tr:nth-child(even) {
	background-color: #F8EAB3;
}

#tb-nutrientes tr:nth-child(odd) {
	background-color: #FFFFFF;
}

#conteudo {
	width: 740px;
	float: right;
}

nav {
	width: 200px;
	float: left;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav ul li {
	background-color: #C7BE9B;
	margin-bottom: 5px;
}

nav ul li:hover {
	background-color: #9C8F67;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

figure {
	background-color: white;
	width: 400px;
	text-align: center;
	padding: 15px;
	font-family: 'Comic Sans MS', cursive;
	border: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
}

figure:hover {
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
}